:root {
    --main-bg-color: #003580;
    --yellow: #febb02;
    --blue-dark: #245171;
    --blue-light: #0071c2;
    --green: #008009;
    --white: #fff;
    --button-padding-y: 8px;
    --button-padding-x: 16px;
    --button-text-size: 12px;
    --icons-width: 24px;

    --heading-1-font-size: 24px;
    --heading-1-font-wight: 700;
    --heading-1-line-height: 32px;

    --heading-2-font-size: 16px;
    --heading-2-font-wight: 700;
    --heading-2-line-height: 24px;
}

body { font-size: 16px; }

/* buttons */
.btn { 
    border: 1px solid transparent; padding: var(--button-padding-y) var(--button-padding-x);
    font-size: var(--button-text-size); font-weight: bold;
}
.btn--blue {
    background-color: var(--blue-light); color: var(--white);
}
.btn--white { background-color: var(--white); color: var(--blue-light);}
.btn--empty { border: 1px solid var(--white); color: var(--white); }

/* common */
.white { color: var(--white); }
.white-bg {  background-color: var(--white); color: #000; }
.circle { border-radius: 50%; overflow: hidden; }
.icons { width: var(--icons-width); height: var(--icons-width); }

/* header */
header { background-color: var(--main-bg-color); color: var(--white); }
.category__each { border-radius: 999px; border: 1px solid var(--main-bg-color);; }
.category__each.active  { background: rgba(255, 255, 255, 0.1); border: 1px solid #fff; }
.category__each:hover { background: rgba(255, 255, 255, 0.1);  }

/* banner */
.banner { padding: 12rem 0; position: relative;}
.banner-hero__mask {
    width: 100%; height: 100%; position: absolute; top: 0;
    right: 0; left: 0;  bottom: 0; background: rgba(5,55,126,0.70); z-index: 0;
}
.banner h1 { font-size: var(--heading-1-font-size); font-weight: var(--heading-1-font-wight); line-height: var(--heading-1-line-height);}
.banner h2 { font-size: var(--heading-2-font-size); font-weight: var(--heading-2-font-wight); line-height: var(--heading-2-line-height); }
.banner__content__search { background-color: var(--yellow);}
.banner__content__search__text input {
    background-image: url('https://cf.bstatic.com/static/img/cross_product_index/accommodation/07ca5cacc9d77a7b50ca3c424ecd606114d9be75.svg');
    background-position: .75rem 50%; padding-left: 2.75rem; background-repeat: no-repeat; color: #000;
 }

/* Top Filter */
.top-filter { border: 1px solid #0071c2;}
.top-filter > div { border-right: 1px solid #0071c2; text-align: center; color: #0071c2; font-size: 14px; }
.top-filter > div:hover,.top-filter > div.active { background-color: #0071c2; color: #fff; }
.top-filter > div:last-child { border-right: 0;}

/* Left Filter */
.filter-by { border: 1px solid #e7e7e7; }
.filter-by__each__title { font-size: 14px;}
.divider { margin: 0; border: 0; border-top: 1px solid #e7e7e7; }

/* card */
.results-count { font-size: 24px; }
.hotel-lists__each { border: 1px solid #e7e7e7; }
.hotel-lists__each__image { width: 200px; aspect-ratio: 1/1; }
.hotel-lists__each__review__badge { 
    background: #003580; color: #fff; width: 32px; height: 32px;
    border-radius: 5px 5px 5px 0; min-width: 32px; text-align: center;
 }
.hotel-lists__each__review__number { font-size: 12px; color: #6b6b6b; }
.hotel-lists__each__review__text { color: #262626; }
.hotel-lists__each__location__icon { margin-left: -4px; }
.hotel-lists__each__title h3 { color: #0071c2; }
.hotel-lists__each__location__name { font-size: 14px; }
.hotel-lists__each__address { font-size: 14px; }
.hotel-lists__each__more-link { color: #0071c2; text-decoration: underline; font-size: 13px; }
.hotel-lists__each__price { text-align: right; color: #262626; font-size: 12px; } 
.hotel-lists__each__price span { color:#008009; font-size: 20px; }
.hotel-lists__each:hover { background-color: #cce4f5; }

